.getHeroApp{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.btns-wrapepr{
    width: 300px;
    display: flex;
    justify-content: space-around;
    padding: 0px 100px;
}

.menBTNS, .womenBTNS{
    display: none;
    gap: 50px
}

.V-avatar, .Jackie-avatar, .Kirill_Silverhand-avatar, .Evelyn_Parker-avatar, .Judy-avatar, .Panam-avatar{
    width: 200px;
    height: 200px;
}

.hero-title{
    font-family: Main;
    font-size: 30px;
}

.men-button, .women-button{
    font-family: main;
    font-size: 25px;
}